<%= @par %>
<div class="posts">
  <h3>Here all posts </h3>
    <ul class="article_nav">
    <li><a href="/data_json">data_json</a></li>
  </ul>
  <br>
  <% @posts.each do |post| %>
    <div class="main_page_content">
      <h4><%= post.title %></h4>
      <p><%= post.content %></p>
      <p class="small_main_page_content">Writed <%= post.created_at %> by author 
      <b><%= post.user.name%></b>
      </p>
    </div>
  <% end %>
</div>
<div class="users">
  <h3>Here all users </h3>
  <ul>
    <li><a href="/user/new">New user</a></li>
  </ul>
  <% @users.each do |user| %>
    <ul>
      <li><a href="/users/<%= user.id %>"><%= user.name %></a> 
      <% if user.name != 'root' %>
      <a href="/users/<%= user.id %>/delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delete <%= user.name %></a></li>
      <% end %>
    </ul>
  <% end %>
  </div>
